<div class="profile">
  <div class="container">

        <h1>User's Profile: <%= current_user.email %></h1>
        <p class="user_email">Email: <%= current_user.email%></p>
        <p class="btn"><%= link_to "Edit", '/users/edit' %></p>
        <p class="btn"><%= link_to "Delete Account",'/users', method: 'delete' %></p>


  </div>
</div>
